# The CODEOWNERS file will be used to define individuals or teams that are responsible for code in the @umgc/Spring2022 repository.

# Any change in the @umgc/Spring2022 repo will require approval from @drewnicolette and @robertwrenjr
* @testuserdrew1
